@import '../../../common.scss';

.main-container {
	width: 100%;
}

.main-back {
	background: $color-white;
}

.about-section {
	background: $color-about;
}

.home-screen {
	.header{
		padding-top: 14px;
		padding-bottom: 32px;
		height: 37px;

		.header-logo {
			width: 40px;
			float: left;

			img.logo {
				// width: 32px;
				height: 22px;
				margin-top: 7px;
			}
		}

		.header-action {
			width: 100%;
		}
	}
}

.cover-section{
	position: relative;
	padding-bottom: 20px;
	display: flex;
	/*---------------------*/
	.subscription {
		width: 452px;
		float: left;
		padding-top: 42px;

		.subscription-title {
			font-family: 'Saol Display Bold';
			font-size: 42px;
			line-height: 54px;
			letter-spacing: -0.01em;
		}

		.subscription-content {
			padding-left: 64px;
			padding-right: 10px;
			padding-top: 42px;

			p {
				font-family: 'SF Pro Display Regular';
				font-size: 18px;
				line-height: 30px;
				margin: 0px;

				span {
					font-family: 'SF Pro Display Bold';
				}
			}
		}

		.btn-try button {
			height: 50px;
			width: 190px;
			margin-top: 28px;
			background: #ff4500;
			font-family: 'SF Pro Display Bold';
			font-size: 17px;
			line-height: 30px;
			color: white;
			border: 0px;
			border-radius: 5px;
			padding: 0;

			&:hover {
				background: #fc5517;
			}
		}
	}

	.home-logo{
		padding-left: 120px;
		padding-top: 38px;

		img.hero-img {
			width: 397px;
			height: 445px;
		}
	}

	.vertical-line{
		position: absolute;
		left: 33px;
		top: 175px;
		width: 1px;
		height: 510px;
		background: black;
	}
}

.about-section {
	padding: 70px 0 90px 0;

	.about-box {
		margin-top: 70px;
		span {
			&.title {
				font-family: 'SF Compact Text SemiBold';
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 0.025em;
				color: #ff4500;
			}

			&.desc {
				font-family: 'SF Pro Text Regular';
				font-size: 16px;
				line-height: 30px;
				color: #aa9c84;
			}
		}

		p {
			font-family: 'Calluna Regular';
			font-size: 18px;
			line-height: 30px;
			color: #111111;
		}

		.btn-app-store{
			width: 150px;
			height: 50px;
			cursor: pointer;
			margin-top: 15px;
		}
	}

	.special-box {
		.special-content{
			border: 1px solid #e7e3db;
			border-radius: 5px;
			background: #fbf7f0;
			padding-top: 14px;
			padding-bottom: 5px;

			div.line {
				width: 100%;
				background: #d6d6d6;
				height: 1px;
			}

			.special-item {
				padding: 27px 0 3px 0;
				.content {
					padding-left: 88px;
					padding-right: 20px;

					span {
						font-family: 'SF Pro Display Bold';
						font-size: 18px;
						color: #897655;
					}

					p {
						font-family: 'SF Pro Display Regular';
						font-size: 16px;
						line-height: 24px;
						color: #757575;
					}
				}
				.sp-icon{
					position: absolute;
					svg {
						position: absolute;
						top: 5px;
						left: 30px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.cover-section {
		padding-bottom: 40px;
		.subscription {
			width: 100%;
			padding-top: 24px;

			.subscription-title {
				padding-left: 9px;
				padding-right: 15px;
				font-size: 24px;
				line-height: 28px;
				letter-spacing: -0.01em;
			}

			.subscription-content {
				padding-left: 9px;
				padding-top: 20px;
				padding-right: 15px;
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		.home-logo{
			display: none;
		}
		.vertical-line {
			display: none;
		}
	}

	.about-section {
		padding: 45px 0 45px 0;

		.about-box {
			width: 100%;
			text-align: left;
			margin-top: 0;
			margin-bottom: 15px;

			.content {
				padding: 0 30px 0 30px;
			}
		}

		.special-box {
			text-align: center;
			width: 100%;
			.content {
				padding: 20px 22px;

				.special-item {
					padding-top: 10px;
					.sp-icon {
						position: relative;
						svg {
							position: relative;
							left: 0;
						}
					}

					.content {
						padding: 10px 20px;
						p {
							margin-top: 9px;
							text-align: center
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1032px) and (min-width: 360px) {
	.cover-section {
		padding: 0 10px;
		padding-bottom: 40px;

		.subscription {
			width: 100%;
			padding-top: 24px;

			.subscription-title {
				padding-left: 9px;
				padding-right: 15px;
				font-size: 24px;
				line-height: 28px;
				letter-spacing: -0.01em;
			}

			.subscription-content {
				padding-left: 9px;
				padding-top: 20px;
				padding-right: 15px;
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.home-logo{
			display: none;
		}
		.vertical-line {
			display: none;
		}
	}

	.about-section {
		padding: 40px 0 45px 0;

		.about-box {
			width: 100%;
			text-align: left;
			margin-top: 0;
			margin-bottom: 15px;

			.content {
				padding: 0 50px 0 32px;
			}
		}

		.special-box {
			text-align: center;
			width: 100%;
			.content {
				padding: 40px 42px;

				.special-item {
					padding-top: 10px;
					.sp-icon {
						position: relative;
						svg {
							position: relative;
							left: 0;
						}
					}

					.content {
						padding: 10px 20px;
						p {
							margin-top: 9px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1032px) {
	.about-section {
		padding: 80px 0 90px 0;
		.about-box {
			float: left;
			width: 50%;
			.content {
				padding: 0 65px 0 64px
			}
		}

		.special-box {
			width: 100%;
			display: table-cell;

			.content {
				padding: 8px 41px 0 15px;
			}	
		}
	}
}

.phone-section .img-section img {
	margin-bottom: -4px;
}